h1, h2, h3, h4, h5, h6, p, ul, ol, li, a{
    color: #f4f4f4 ;
}

.btn-1{
    background-color: #0e6cff;
}
.btn-2{
    background-color: #ff8700;
}
.btn-3{
    background-color: #4caf50;
}

.bg-hero{
    background-color: #640fc5;
}