.main-title {
    font: {
      family: "Verdana", sans-serif;
      weight: 300;
      size: 36px;
    }
    letter-spacing: -1.5px;
  }

  @mixin font-size() {
    $font-size-list: 14 16 20 24;

    @each $value in $font-size-list {
      .font-size-#{$value} {
        font-size: pxToRem($value);
      }
    }
  }
  @include font-size()